<section class="section educations">
    <h3>{{ section.title }}</h3>
    {% for entry in section.entries %}
        <article>
            {% if entry.field %}
                <h3>{{ entry.field }}</h3>
            {% end %}
            {% if entry.school %}
                <h5>{{ entry.school }}</h5>
            {% end %}
            <div class="icon-stats">
                {% if entry.date_range %}
                    <div class="with-icon">
                        <i class="icon-calendar"></i>
                        {{ entry.date_range }}
                    </div>
                {% end %}
                {% if entry.location %}
                    <div class="with-icon">
                        <i class="icon-location"></i>
                        {{ entry.location }}
                    </div>
                {% end %}
            </div>
            {% if entry.grade %}
                <div>{{ entry.grade }}</div>
            {% end %}
            {% if entry.bullets %}
                <ul>
                    {% for bullet in entry.bullets %}
                        <li>{{ bullet }}</li>
                    {% end %}
                </ul>
            {% end %}
        </article>
    {% end %}
</section>