<style>
.icon-stats {
    font-size: 12px;
    line-height: normal;
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}
</style>

{% if entry.title %}
    <h3>{{ entry.title }}</h3>
{% end %}
{% if entry.subtitle %}
    <h5>{{ entry.subtitle }}</h5>
{% end %}

{% if entry.date_range or entry.location %}
    <div class="icon-stats">
        {% if entry.date_range %}
            <div class="with-icon">
                <i class="icon-calendar"></i>
                {{ entry.date_range }}
            </div>
        {% end %}
        {% if entry.location %}
            <div class="with-icon">
                <i class="icon-location"></i>
                {{ entry.location }}
            </div>
        {% end %}
    </div>
{% end %}
{% if entry.link %}
    <div class="icon-stats">
        <div class="with-icon">
            <i class="icon-link"></i>
            {% module md(text=entry.link) %}
        </div>
    </div>
{% end %}

{% if entry.description %}
    <p>{% module md(text=entry.description) %}</p>
{% end %}
{% if entry.bullets %}
    <ul>
        {% for bullet in entry.bullets %}
            <li>{% module md(text=bullet) %}</li>
        {% end %}
    </ul>
{% end %}