<section class="section jobs">
    <h3>{{ section.title }}</h3>
    {% for entry in section.entries %}
        <article>
            {% if entry.title %}
                <h3>{{ entry.title }}</h3>
            {% end %}
            {% if entry.company %}
                <h5>{{ entry.company }}</h5>
            {% end %}
            <div class="icon-stats">
                {% if entry.date_range %}
                    <div class="with-icon">
                        <i class="icon-calendar"></i>
                        {{ entry.date_range }}
                    </div>
                {% end %}
                {% if entry.location %}
                    <div class="with-icon">
                        <i class="icon-location"></i>
                        {{ entry.location }}
                    </div>
                {% end %}
            </div>
            {% if entry.description %}
                <div>{{ entry.description }}</div>
            {% end %}
            {% if entry.bullets %}
                <ul>
                    {% for bullet in entry.bullets %}
                        <li>{{ bullet }}</li>
                    {% end %}
                </ul>
            {% end %}
        </article>
    {% end %}
</section>