<section class="section projects">
    <h3>{{ section.title }}</h3>
    {% for entry in section.entries %}
        <article>
            {% if entry.title %}
                <h3>{{ entry.title }}</h3>
            {% end %}

            {% if entry.date_range %}
                <div class="icon-stats">
                    <div class="with-icon">
                        <i class="icon-calendar"></i>
                        {{ entry.date_range }}
                    </div>
                </div>
            {% end %}
            {% if entry.link %}
                <div class="icon-stats">
                    <div class="with-icon">
                        <i class="icon-link"></i>
                        {% module md(text=entry.link) %}
                    </div>
                </div>
            {% end %}

            {% if entry.description %}
                <div>{% module md(text=entry.description) %}</div>
            {% end %}
            {% if entry.bullets %}
                <ul>
                    {% for bullet in entry.bullets %}
                        <li>{% module md(text=bullet) %}</li>
                    {% end %}
                </ul>
            {% end %}
        </article>
    {% end %}
</section>